html {
  box-sizing: border-box;
  background:#ffc600;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
}


.panel1 { background-image:url(https://images.unsplash.com/photo-1481622337547-a7c68e2d7a55?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1500&h=1500&fit=crop&s=b3d0122875941fb8049fb9c3dc8930d2);}
.panel2 { background-image:url(https://images.unsplash.com/photo-1447931958677-954446df5f70?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1500&h=1500&fit=crop&s=d764d2a1e832074dfe89041919be2ba3);}
.panel3 { background-image:url(https://images.unsplash.com/photo-1480460673325-52897ac06af0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1500&h=1500&fit=crop&s=6fdd1cd79398f2b43bc6be45e6d328ee);}
.panel4 { background-image:url(https://images.unsplash.com/photo-1418073067875-c5f5ba16fe75?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1500&h=1500&fit=crop&s=1804bf107a85745bfc8883d2cc6a870b);}
.panel5 { background-image:url(https://images.unsplash.com/photo-1482175057528-7a2fb1aa78a7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1500&h=1500&fit=crop&s=b16d246541941e63d4f4bb7469bd88e4);}

.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size:40px;
}

.cta {
  color:red;
  text-decoration: none;
}
